.page {
  display: grid;
  width: 100%;

  @media (min-width: 640px) {
    place-content: center;
  }

  @media (min-width: 960px) {
    min-height: 100vh;
  }
}

.dashboard {
  margin: var(--spacing);
  display: grid;
  grid-gap: var(--spacing);

  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "userCard workCardWork workCardPlay workCardStudy"
    "userCard workCardExercise workCardSocial workCardSelfCare";
    max-width: 900px;
  }
}
